@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="logo">Welcome</h1>
</div>

<div class="image-container">
    <img src="~/images/image0_0.jpg" alt="Produs Meat Shop" />
</div>

<section class="recommendation-section">
    
        <div class="image-container2">
            <img src="~/images/810GwknnM+L._SS400_.jpg" alt="Wagyu">
        </div>
        <div class="text-container">
            <h2>Today's Reccomandation</h2>
            <p>
                Wagyu beef is a true delicacy, known for its unparalleled marbling and melt-in-your-mouth texture. 
                It's not just meat; it's an experience. The rich, buttery flavor and tender consistency make it a 
                standout choice for special occasions or gourmet meals. Whether you're grilling a steak, 
                preparing a Wagyu burger, or enjoying it as sashimi, the premium quality of Wagyu elevates 
                any dish to a new level of indulgence. For the best results, cook it lightly to let its natural 
                flavors shine, and pair it with simple sides that complement its richness.
            </p>
        </div>
   
</section>

<section class="visit-us-section">
    <h2>Visit our shop!</h2>
    <p>
        You can visit us to get inspired directly from our shop window or you can call us for questions about our dishes.
    </p>
    <p>
        <strong>Bulevardul Regina Elisabeta Nr. 4-12</strong><br>
        Phone Number: 0710 101 010
    </p>
</section>
