@model ItiUmplemFrigiderul.Models.Review

@if (ViewBag.Message != null)
{
    <div class="p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<h2>Edit review</h2>
<br />


<form asp-action="Edit" asp-controller="Reviews" asp-route-id="@Model.Id" method="post">

    <div class="card-body">

        <input type="hidden" name="FarmProductId" value="@Model.Id" />

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
              integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <div class="containerstar">
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>

        <!-- Camp ascuns pentru valoarea ratingului -->
        <input type="hidden" id="Rating" name="Rating" value="0" />
        <span asp-validation-for="Rating" class="text-danger"></span>
        <p></p>
        <label>Content</label>
        <textarea class="form-control" name="Content"></textarea>
        <br />


    </div>

    <button class="btn btn-primary" type="submit">Edit</button>

</form>


